#div_header {
    padding: 25px;
    background-color: ghostwhite;
    text-align: center;
}

footer {
    bottom: 0px !important;
    padding: 20px;
    background-color: ghostwhite;
}

#divDashboardContainer {
    height: 470px;
    padding: 20px;
    border: 1px solid whitesmoke;
    text-align: center;
    
}

.active {
    font-weight: bold;
}

nav > ul > li > a {
    text-decoration: none !important;
    padding: 10px;
    /* font-weight: bold; */
}

.noBullet {
    list-style-type: none !important;
}

#divAddSkill, #divAddSkillAssessment {
    padding: 20px;
    border: 1px solid whitesmoke;
    margin: 20px;
}

#divLoginContainer {
    margin-top: 170px !important;
    height: 390px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#divLoginContainer input {
    text-align: center;
    margin: auto;
    width: 300px;
}

#divUserStoriesContainer {
    padding: 40px;
    height: 530px;

}

/* 
#tableDevs thead tr th, #tableDevs tbody tr td {
    text-align: center;
    vertical-align: center;
} */